* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
.container {
  max-width: 920px;
  margin: 60px auto;
  text-align: center;
}
.header {
  margin: 50px 0;
}
.cards {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.cards::after {
  /* forces left alignment on the last row */
  content: "";
  flex: auto;
}
.card {
  width: 300px;
  height: 350px;
  display: inline-block;
  text-align: left;
  margin: 5px;
}
.card img {
  width: 100%;
  height: 235px;
  object-fit: cover;
}
.card a {
  width: 100%;
  text-decoration: none;
  color: #3e3f39;
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  margin: 10px 0 10px;
}
.card .date {
  margin: 0;
  color: #6d6e6a;
}
